@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: system-ui, sans-serif;
}

ifrm {
    border: none; width: 100vw; height: 100vh;
}
form>div {
    @apply flex flex-col gap-2;
}

input,
textarea {
    @apply shadow-md px-6 py-2 border border-slate-300;
}

/* Keyframes for sliding notifications upward */
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  20% {
    transform: translateY(0%);
    opacity: 1;
  }
  80% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

/* Class applied in NotificationsTicker.tsx */
.animate-slideUp {
  animation: slideUp 0.6s ease-in-out;
}
